<form class="{{cssClass}}" autocomplete="off" id="sheet">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"></h1>
            <div class="flexblock-left ">
                <div class="col-1-2">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    <div class="flexblock-left">
                        <label class="label-free boldtext">MOD</label>
                        <input class="input-min" type="text" name="data.mod" value="{{data.mod}}">

                        {{#advShow}}
                        <a class="roll-mode boldtext" title="Roll mode"><i>{{data.rollmode}}</i></a>
                        {{/advShow}}

                        {{#showRoller}}
                        <a class="roll-free" title="Roll mode"><i class="fas fa-dice-d20"></i></a>
                        {{/showRoller}}

                        {{#if actor.data.selector}}
                        <a class="mod-selector" title="Select Options"><i class="fas fa-exclamation-circle fa-2x"></i></a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>

                <div class="rightblock">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    {{#isGM}}
                    <select class="selectsheet" name="data.gtemplate" data-type="String">
                        <!--
{{#select actor.data.gtemplate}}
{{#each data.sheets as |gtemplate id|}}
<option  value="{{gtemplate}}">{{gtemplate}}</option>
{{/each}}
{{/select}}
-->
                    </select>
                    {{/isGM}}
                    {{/if}}
                    {{#isGM}}


                    <h3 class="rightblock-element">Template</h3>
                    <input class="check-istemplate" name="data.istemplate" id="check-istemplate" type="checkbox" {{checked actor.data.istemplate}}="">


                    {{/isGM}}

                    {{#if actor.data.istemplate}}
                    <h3 class="rightblock-element-tag">Rebuild Sheet</h3>
                    <a class="rightblock-element item-refresh" title="Rebuild Sheet"><i class="fas fa-sync"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <a class="tab-prev" id="tab-prev">❮</a>
        <nav class="sheet-tabs tabs" data-group="primary" id="tabs" tabs="3">

            <a class="item tab-button" data-tab="description" id="tab-0">Bio</a>          
            <a class="item tab-button" id="tab-1" data-tab="stats_tab">Stats</a><a class="item tab-button" id="tab-2" data-tab="basic_info_tab">Basic Info</a><a class="item tab-button" id="tab-3" data-tab="attacks_tab">Attacks</a><a style="display: none" id="tab-last"></a>
            {{#isGM}}
            <a class="item tab-button" data-tab="citems" id="tab-citems">cItems</a>
            {{#if actor.data.istemplate}}
            <a class="item tab-button" data-tab="token" id="tab-token">Token</a>
            <a class="item tab-button" data-tab="config" id="tab-tabs">Tabs</a>
            {{/if}}
            {{/isGM}}

        </nav>
        <a class="tab-next" id="tab-next">❯</a>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body" id="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{#if actor.data.istemplate}}
        {{!-- SheetTabs Tab --}}
        <div class="tab properties" data-group="primary" data-tab="config">
            <ol class="properties-list">
                {{#each data.tabs as |tab id|}}
                <li class="property flexrow" data-item-id="{{id}}">
                    <h4 class="property-name">{{tab.name}}</h4>
                    <div class="property-row">
                        <a class="property-controls item-top" title="Top Item"><i class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="property-controls item-bottom" title="Bottom Item"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="property-control item-edit" title="Edit Tab"><i class="fas fa-edit"></i></a>
                        <a class="property-control item-delete" title="Delete Tab"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Token Tab --}}
        <div class="tab token scrollable" data-group="primary" data-tab="token">
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Bar 1</label>
                            <input class="token-bar1" type="text" name="data.tokenbar1" value="{{data.tokenbar1}}" tkvalue="hp_prop">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Shield Stat</label>
                            <input class="token-shieldstat" type="text" name="data.shieldstat" value="{{data.shieldstat}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Display Name</label>
                            <select class="token-displayName" name="data.displayName" data-type="String" tkvalue="ALWAYS">
                                {{#select actor.data.displayName}}
                                <option value="NONE">NONE</option>
                                <option value="CONTROL">CONTROL</option>
                                <option value="OWNER_HOVER">OWNER HOVER</option>
                                <option value="HOVER">HOVER</option>
                                <option value="OWNER">OWNER</option>
                                <option value="ALWAYS">ALWAYS</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/if}}

        {{!-- cItems Tab --}}
        <div class="tab citems scrollable" data-group="primary" data-tab="citems">
            <ol class="properties-list">
                {{#each data.citems as |citem cid|}}
                <li class="property flexrow" data-item-id="{{cid}}">
                    <h4 class="property-name">{{citem.name}}</h4>
                    <div class="property-row">
                        <a class="property-control citem-edit" title="Edit cItem"><i class="fas fa-edit"></i></a>
                        <a class="property-control citem-delete" citemid="{{citem.id}}" title="Delete cItem"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>



    <div class="tab scrollable stats_tab_tab" id="stats_tab_Def" data-group="primary" data-tab="stats_tab"><div class="new-column" id="stats_tabBody"><div class="new-block" id="stats_tabrow0"><div class="col-1-1"><div class="panelheader">HIT POINTS</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-med" id="hp_prop" attid="kOJM2WLBhmLc9veV">HP</h3><input name="data.attributes.hp_prop.value" value="{{data.attributes.hp_prop.value}}" type="text" class="input-min hp_prop" attid="kOJM2WLBhmLc9veV"><input name="data.attributes.max_hp.value" value="{{data.attributes.max_hp.value}}" type="text" class="input-min max_hp" attid="SAU1Vfm02Wif2feT"><h3 class="righttext label-med" id="bloodied" attid="FQMa3tGn6jVN5IIo">BLOODIED</h3><input name="data.attributes.bloodied.value" value="{{data.attributes.bloodied.value}}" type="text" class="input-min input-disabled bloodied inputGM" readonly="true" attid="FQMa3tGn6jVN5IIo"><h3 class="righttext label-med" id="surge_value" attid="NVTqK3vWrDJG7R3o">SURGE VALUE</h3><input name="data.attributes.surge_value.value" value="{{data.attributes.surge_value.value}}" type="text" class="input-min surge_value" attid="NVTqK3vWrDJG7R3o"><h3 class="righttext label-med" id="surges_day" attid="IV60QZKcdsNUyEVn">SURGES/DAY</h3><input name="data.attributes.surges_day.value" value="{{data.attributes.surges_day.value}}" type="text" class="input-min surges_day" attid="IV60QZKcdsNUyEVn"><input name="data.attributes.surges_day_max.value" value="{{data.attributes.surges_day_max.value}}" type="text" class="input-min surges_day_max" attid="k0CYr9nM93qfGQwl"></div></div></div></div><div class="new-block" id="stats_tabrow1"><div id="multi" class="multi-1-3-col"><div class="panelheader">ABILITY SCORES</div><div class="new-block" id="multirow1"><div class="multi-1-6"><div class="panelheader">SCORE</div><div class="new-row"><div class="flexblock-center"><h3 class="centertext label-med rollable" id="strength_stat" attid="08GDFOh6cK75twKP">STR</h3><input name="data.attributes.strength_stat.value" value="{{data.attributes.strength_stat.value}}" type="text" class="input-min strength_stat" attid="08GDFOh6cK75twKP"></div><div class="flexblock-center"><h3 class="centertext label-med rollable" id="constitution_stat" attid="RdxBhWaNAb3SOTXy">CON</h3><input name="data.attributes.constitution_stat.value" value="{{data.attributes.constitution_stat.value}}" type="text" class="input-min constitution_stat" attid="RdxBhWaNAb3SOTXy"></div><div class="flexblock-center"><h3 class="centertext label-med rollable" id="dexterity_stat" attid="UXwSVkbZO3KDjIWQ">DEX</h3><input name="data.attributes.dexterity_stat.value" value="{{data.attributes.dexterity_stat.value}}" type="text" class="input-min dexterity_stat" attid="UXwSVkbZO3KDjIWQ"></div><div class="flexblock-center"><h3 class="centertext label-med rollable" id="intelligence_stat" attid="nxRbh5evLuVmF9zd">INT</h3><input name="data.attributes.intelligence_stat.value" value="{{data.attributes.intelligence_stat.value}}" type="text" class="input-min intelligence_stat" attid="nxRbh5evLuVmF9zd"></div><div class="flexblock-center"><h3 class="centertext label-med rollable" id="wisdom_stat" attid="27YS6oTlKJP7AhPF">WIS</h3><input name="data.attributes.wisdom_stat.value" value="{{data.attributes.wisdom_stat.value}}" type="text" class="input-min wisdom_stat" attid="27YS6oTlKJP7AhPF"></div><div class="flexblock-center"><h3 class="centertext label-med rollable" id="charisma_stat" attid="V6wFt1RI4tnrbZ12">CHA</h3><input name="data.attributes.charisma_stat.value" value="{{data.attributes.charisma_stat.value}}" type="text" class="input-min charisma_stat" attid="V6wFt1RI4tnrbZ12"></div></div></div><div class="multi-1-6"><div class="panelheader">MOD+1/2LVL</div><div class="new-row"><div class="flexblock-center"><input name="data.attributes.str_lvl_mod.value" value="{{data.attributes.str_lvl_mod.value}}" type="text" class="input-min input-disabled str_lvl_mod inputGM" readonly="true" attid="cjrRcDl0S4egXBku"></div><div class="flexblock-center"><input name="data.attributes.con_lvl_mod.value" value="{{data.attributes.con_lvl_mod.value}}" type="text" class="input-min input-disabled con_lvl_mod inputGM" readonly="true" attid="pSOBwxFYLJGTGYWa"></div><div class="flexblock-center"><input name="data.attributes.dex_lvl_mod.value" value="{{data.attributes.dex_lvl_mod.value}}" type="text" class="input-min input-disabled dex_lvl_mod inputGM" readonly="true" attid="2CLrWPxC16ztsKWy"></div><div class="flexblock-center"><input name="data.attributes.int_lvl_mod.value" value="{{data.attributes.int_lvl_mod.value}}" type="text" class="input-min input-disabled int_lvl_mod inputGM" readonly="true" attid="yciwVlePFBbyzVzV"></div><div class="flexblock-center"><input name="data.attributes.wis_lvl_mod.value" value="{{data.attributes.wis_lvl_mod.value}}" type="text" class="input-min input-disabled wis_lvl_mod" readonly="true" attid="d5LKJzZZSb9YPtMM"></div><div class="flexblock-center"><input name="data.attributes.cha_lvl_mod.value" value="{{data.attributes.cha_lvl_mod.value}}" type="text" class="input-min input-disabled cha_lvl_mod inputGM" readonly="true" attid="tUVQ4eG3jGLo9DO4"></div><div class="flexblock-center"><input name="data.attributes.con_mod.value" value="{{data.attributes.con_mod.value}}" type="text" class="input-min input-disabled con_mod inputGM" readonly="true" attid="nzhMKsMH43CUw6nR" style="display: none;"></div><div class="flexblock-center"><input name="data.attributes.dex_mod.value" value="{{data.attributes.dex_mod.value}}" type="text" class="input-min input-disabled dex_mod inputGM" readonly="true" attid="Sdg7khfiUdxPxhdm" style="display: none;"></div><div class="flexblock-center"><input name="data.attributes.int_mod.value" value="{{data.attributes.int_mod.value}}" type="text" class="input-min input-disabled int_mod inputGM" readonly="true" attid="RBoyx5VyVbheAf2j" style="display: none;"></div><div class="flexblock-center"><input name="data.attributes.cha_mod.value" value="{{data.attributes.cha_mod.value}}" type="text" class="input-min input-disabled cha_mod inputGM" readonly="true" attid="hB9n6rPFmcuyedBy" style="display: none;"></div><div class="flexblock-center"><input name="data.attributes.str_mod.value" value="{{data.attributes.str_mod.value}}" type="text" class="input-min input-disabled str_mod inputGM" readonly="true" attid="SmBvZwYiWrsjJdHk" style="display: none;"></div><div class="flexblock-center"><input name="data.attributes.wis_mod.value" value="{{data.attributes.wis_mod.value}}" type="text" class="input-min input-disabled wis_mod" readonly="true" attid="JeN5OTCw82x3slE1" style="display: none;"></div></div></div></div><div class="new-multiblock" id="multirow2"><div class="multi-1-3"><div class="panelheader">INITIATIVE</div><div class="new-row"><div class="flexblock-center"><h3 class="centertext label-free" id="init_hide" attid="VjKiIZOPtWONUAP8" style="display: none;">1d20+@{initiative_score}</h3><input name="data.attributes.init_hide.value" value="{{data.attributes.init_hide.value}}" type="text" class="input-min input-disabled init_hide" readonly="true" attid="VjKiIZOPtWONUAP8" style="display: none;"><h3 class="centertext label-small rollable" id="initiative_score" attid="RwlXgKjLlskrYPDq"><div title="Initiative"><i class="fas fa-dice-d20"></i></div></h3><input name="data.attributes.initiative_score.value" value="{{data.attributes.initiative_score.value}}" type="text" class="input-free input-disabled initiative_score inputGM" readonly="true" attid="RwlXgKjLlskrYPDq"><h3 class="centertext label-med" id="init_misc_field" attid="GMMYIGbaaT205ACS">BONUS</h3><input name="data.attributes.init_misc_field.value" value="{{data.attributes.init_misc_field.value}}" type="text" class="input-min init_misc_field" attid="GMMYIGbaaT205ACS"></div></div></div></div><div class="new-multiblock" id="multirow3"><div class="multi-1-3"><div class="panelheader">DEFENSES</div><div class="new-row"><div class="flexblock-center"><h3 class="centertext label-small" id="ac_label" attid="9yrscALNZo8Dtisv">AC</h3><h3 class="centertext label-small" id="fort_label" attid="YfV1wxOAx5zfZTqn">FORT</h3><h3 class="centertext label-small" id="ref_label" attid="lM1WUEuRfBPWqqtI">REF</h3><h3 class="centertext label-small" id="will_label" attid="LQO3fk9FpZVmOknm">WILL</h3></div><div class="flexblock-center"><input name="data.attributes.ac.value" value="{{data.attributes.ac.value}}" type="text" class="input-free ac" attid="1GEJJFvc6SOyguNi"><input name="data.attributes.fort.value" value="{{data.attributes.fort.value}}" type="text" class="input-free fort" attid="Mg01U1eQAE6MZxgg"><input name="data.attributes.ref.value" value="{{data.attributes.ref.value}}" type="text" class="input-free ref" attid="qnC8u2tLDjVrNQjd"><input name="data.attributes.will.value" value="{{data.attributes.will.value}}" type="text" class="input-free will" attid="je6DL3bwAsyIxzDI"></div><div class="flexblock-center"><textarea class="texteditor-med def_text" name="data.attributes.def_text.value" attid="pritb5Z72dv6B8UB">{{data.attributes.def_text.value}}</textarea></div></div></div></div><div class="new-multiblock" id="multirow4"><div class="multi-1-3"><div class="panelheader">OTHER</div><div class="new-row"><div class="flexblock-left"><h3 class="righttext label-medlarge" id="action_points" attid="zbtDDugxYFzoPPf2">Action Points</h3><input name="data.attributes.action_points.value" value="{{data.attributes.action_points.value}}" type="text" class="input-min action_points" attid="zbtDDugxYFzoPPf2"></div><div class="flexblock-left"><h3 class="righttext label-medlarge" id="speed" attid="WswEwpwFtwwtohIc">Speed (Squares)</h3><input name="data.attributes.speed.value" value="{{data.attributes.speed.value}}" type="text" class="input-min speed" attid="WswEwpwFtwwtohIc"></div><div class="flexblock-left"><h3 class="righttext label-medlarge" id="passive_insight" attid="DqMW7VIWmlBS22Pu">Passive Insight</h3><input name="data.attributes.passive_insight.value" value="{{data.attributes.passive_insight.value}}" type="text" class="input-min passive_insight" attid="DqMW7VIWmlBS22Pu"></div><div class="flexblock-left"><h3 class="righttext label-medlarge" id="passive_perception" attid="DkyHJTL3Rr6iiChX">Passive Perception</h3><input name="data.attributes.passive_perception.value" value="{{data.attributes.passive_perception.value}}" type="text" class="input-min passive_perception" attid="DkyHJTL3Rr6iiChX"></div></div></div></div><div class="new-multiblock" id="multirow5"><div class="multi-1-3"><div class="panelheader">DEATH SAVING THROW FAILURES</div><div class="new-row"><div class="flexblock-center"><input class="input-small death_save_1" name="data.attributes.death_save_1.value" type="checkbox" {{checked actor.data.attributes.death_save_1.value}} attid="5CRna2KDwqH2R2Tq"><input class="input-small death_save_2" name="data.attributes.death_save_2.value" type="checkbox" {{checked actor.data.attributes.death_save_2.value}} attid="Yv7tRw7LCi6iFs5Y"><input class="input-small death_save_3" name="data.attributes.death_save_3.value" type="checkbox" {{checked actor.data.attributes.death_save_3.value}} attid="QymvAGhpV9I36a3w"></div></div></div></div></div><div id="skills_mpmulti" class="multi-2-3-col"><div class="panelheader">SKILLS</div><div class="new-block" id="skills_mpmultirow6"><div class="multi-1-3"><div class="panelheader">SCORES</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="acrobatics_skill" attid="0LeRHKvMKBSvmUYF">Acrobatics (DEX)</h3><input name="data.attributes.acrobatics_skill.value" value="{{data.attributes.acrobatics_skill.value}}" type="text" class="input-min input-disabled acrobatics_skill inputGM" readonly="true" attid="0LeRHKvMKBSvmUYF"><input class="input-small acrobatics_trnd" name="data.attributes.acrobatics_trnd.value" type="checkbox" {{checked actor.data.attributes.acrobatics_trnd.value}} attid="qxLU42FpfwDpF6Nv"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="arcana_skill" attid="5CPJIDB9QXrg1Nqj">Arcana (INT)</h3><input name="data.attributes.arcana_skill.value" value="{{data.attributes.arcana_skill.value}}" type="text" class="input-min input-disabled arcana_skill inputGM" readonly="true" attid="5CPJIDB9QXrg1Nqj"><input class="input-small arcana_trnd" name="data.attributes.arcana_trnd.value" type="checkbox" {{checked actor.data.attributes.arcana_trnd.value}} attid="yHiciNXfay99d3Ar"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="athletics_skill" attid="Q0QtgFhxQfzDtZ1e">Athletics (STR)</h3><input name="data.attributes.athletics_skill.value" value="{{data.attributes.athletics_skill.value}}" type="text" class="input-min input-disabled athletics_skill inputGM" readonly="true" attid="Q0QtgFhxQfzDtZ1e"><input class="input-small athletics_trnd" name="data.attributes.athletics_trnd.value" type="checkbox" {{checked actor.data.attributes.athletics_trnd.value}} attid="ll3lo8wBx0KgeNbj"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="bluff_skill" attid="h4Ns3aGxkdRv4jE7">Bluff (CHA)</h3><input name="data.attributes.bluff_skill.value" value="{{data.attributes.bluff_skill.value}}" type="text" class="input-min input-disabled bluff_skill inputGM" readonly="true" attid="h4Ns3aGxkdRv4jE7"><input class="input-small bluff_trnd" name="data.attributes.bluff_trnd.value" type="checkbox" {{checked actor.data.attributes.bluff_trnd.value}} attid="1AWqRxGw37gOhwtQ"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="diplomacy_skill" attid="Wz1fEZvTaREP2JTg">Diplomacy (CHA)</h3><input name="data.attributes.diplomacy_skill.value" value="{{data.attributes.diplomacy_skill.value}}" type="text" class="input-min input-disabled diplomacy_skill inputGM" readonly="true" attid="Wz1fEZvTaREP2JTg"><input class="input-small diplomacy_trnd" name="data.attributes.diplomacy_trnd.value" type="checkbox" {{checked actor.data.attributes.diplomacy_trnd.value}} attid="5JLcCdCMGk4fpKz1"></div><div class="flexblock-left"><h3 class=" label-medlarge smalltext rollable" id="dungeoneering_skill" attid="FyQGa06CktJdsisP">Dungeoneering (WIS)</h3><input name="data.attributes.dungeoneering_skill.value" value="{{data.attributes.dungeoneering_skill.value}}" type="text" class="input-min input-disabled dungeoneering_skill inputGM" readonly="true" attid="FyQGa06CktJdsisP"><input class="input-small dungeoneering_trnd" name="data.attributes.dungeoneering_trnd.value" type="checkbox" {{checked actor.data.attributes.dungeoneering_trnd.value}} attid="12L4qABsEejUYaw7"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="endurance_skill" attid="oxO7eYBHRModbrLh">Endurance (CON)</h3><input name="data.attributes.endurance_skill.value" value="{{data.attributes.endurance_skill.value}}" type="text" class="input-min input-disabled endurance_skill inputGM" readonly="true" attid="oxO7eYBHRModbrLh"><input class="input-small endurance_trnd" name="data.attributes.endurance_trnd.value" type="checkbox" {{checked actor.data.attributes.endurance_trnd.value}} attid="I0Gag4GJ1OKyIP07"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="heal_skill" attid="l8CCtdUzARXzA0uc">Heal (WIS)</h3><input name="data.attributes.heal_skill.value" value="{{data.attributes.heal_skill.value}}" type="text" class="input-min input-disabled heal_skill inputGM" readonly="true" attid="l8CCtdUzARXzA0uc"><input class="input-small heal_trnd" name="data.attributes.heal_trnd.value" type="checkbox" {{checked actor.data.attributes.heal_trnd.value}} attid="J5ff8WExQEfZVadD"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="history_skill" attid="H9c1GWTmI4pTbIOj">History (INT)</h3><input name="data.attributes.history_skill.value" value="{{data.attributes.history_skill.value}}" type="text" class="input-min input-disabled history_skill inputGM" readonly="true" attid="H9c1GWTmI4pTbIOj"><input class="input-small history_trnd" name="data.attributes.history_trnd.value" type="checkbox" {{checked actor.data.attributes.history_trnd.value}} attid="QDzAILqdxaON7PaU"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="insight_skill" attid="gjez5wE8iEfZB9lE">Insight (WIS)</h3><input name="data.attributes.insight_skill.value" value="{{data.attributes.insight_skill.value}}" type="text" class="input-min input-disabled insight_skill inputGM" readonly="true" attid="gjez5wE8iEfZB9lE"><input class="input-small insight_trnd" name="data.attributes.insight_trnd.value" type="checkbox" {{checked actor.data.attributes.insight_trnd.value}} attid="6WwgvQaQY0gpdtHM"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="intimidate_skill" attid="dLGkPk8jKotgiZFm">Intimidate (CHA)</h3><input name="data.attributes.intimidate_skill.value" value="{{data.attributes.intimidate_skill.value}}" type="text" class="input-min input-disabled intimidate_skill inputGM" readonly="true" attid="dLGkPk8jKotgiZFm"><input class="input-small intimidate_trnd" name="data.attributes.intimidate_trnd.value" type="checkbox" {{checked actor.data.attributes.intimidate_trnd.value}} attid="ZVmFz3Lrsawetkfi"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="nature_skill" attid="uwbD0gXKbIfWaceS">Nature (WIS)</h3><input name="data.attributes.nature_skill.value" value="{{data.attributes.nature_skill.value}}" type="text" class="input-min input-disabled nature_skill inputGM" readonly="true" attid="uwbD0gXKbIfWaceS"><input class="input-small nature_trnd" name="data.attributes.nature_trnd.value" type="checkbox" {{checked actor.data.attributes.nature_trnd.value}} attid="E9EzJztSxnicnyU2"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="perception_skill" attid="wvgZaQvHZbCrWbPB">Perception (WIS)</h3><input name="data.attributes.perception_skill.value" value="{{data.attributes.perception_skill.value}}" type="text" class="input-min input-disabled perception_skill inputGM" readonly="true" attid="wvgZaQvHZbCrWbPB"><input class="input-small perception_trnd" name="data.attributes.perception_trnd.value" type="checkbox" {{checked actor.data.attributes.perception_trnd.value}} attid="w3q0ki9iCbrWGhvy"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="religion_skill" attid="VTvSmQlRpgfvoSZD">Religion (INT)</h3><input name="data.attributes.religion_skill.value" value="{{data.attributes.religion_skill.value}}" type="text" class="input-min input-disabled religion_skill inputGM" readonly="true" attid="VTvSmQlRpgfvoSZD"><input class="input-small religion_trnd" name="data.attributes.religion_trnd.value" type="checkbox" {{checked actor.data.attributes.religion_trnd.value}} attid="phSHKKyBzjVmRrbI"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="stealth_skill" attid="tV5usF7BgmPYQ1Ws">Stealth (DEX)</h3><input name="data.attributes.stealth_skill.value" value="{{data.attributes.stealth_skill.value}}" type="text" class="input-min input-disabled stealth_skill inputGM" readonly="true" attid="tV5usF7BgmPYQ1Ws"><input class="input-small stealth_trnd" name="data.attributes.stealth_trnd.value" type="checkbox" {{checked actor.data.attributes.stealth_trnd.value}} attid="RaXvfXliflDqUlhm"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="streetwise_skill" attid="sil2IyIQL9VSOHMJ">Streetwise (CHA)</h3><input name="data.attributes.streetwise_skill.value" value="{{data.attributes.streetwise_skill.value}}" type="text" class="input-min input-disabled streetwise_skill inputGM" readonly="true" attid="sil2IyIQL9VSOHMJ"><input class="input-small streetwise_trnd" name="data.attributes.streetwise_trnd.value" type="checkbox" {{checked actor.data.attributes.streetwise_trnd.value}} attid="BIuRMEfmT1alPdp8"></div><div class="flexblock-left"><h3 class=" label-medlarge rollable" id="thievery_skill" attid="2N7sgdp6ivvapQpV">Thievery (DEX)</h3><input name="data.attributes.thievery_skill.value" value="{{data.attributes.thievery_skill.value}}" type="text" class="input-min input-disabled thievery_skill inputGM" readonly="true" attid="2N7sgdp6ivvapQpV"><input class="input-small thievery_trnd" name="data.attributes.thievery_trnd.value" type="checkbox" {{checked actor.data.attributes.thievery_trnd.value}} attid="8uM1bS5J3cTexgZt"></div></div></div><div class="multi-1-6"><div class="panelheader">MOD+1/2LVL </div><div class="new-row"><div class="flexblock-center"><input name="data.attributes.dex_lvl_mod1.value" value="{{data.attributes.dex_lvl_mod1.value}}" type="text" class="input-min input-disabled dex_lvl_mod1 inputGM" readonly="true" attid="oxTdmnIYpwdHe4qj"></div><div class="flexblock-center"><input name="data.attributes.int_lvl_mod1.value" value="{{data.attributes.int_lvl_mod1.value}}" type="text" class="input-min input-disabled int_lvl_mod1 inputGM" readonly="true" attid="liWlKp5Y0YLq1DHT"></div><div class="flexblock-center"><input name="data.attributes.str_lvl_mod1.value" value="{{data.attributes.str_lvl_mod1.value}}" type="text" class="input-min input-disabled str_lvl_mod1 inputGM" readonly="true" attid="ZGZHIBv2aw5GNaje"></div><div class="flexblock-center"><input name="data.attributes.cha_lvl_mod2.value" value="{{data.attributes.cha_lvl_mod2.value}}" type="text" class="input-min input-disabled cha_lvl_mod2 inputGM" readonly="true" attid="kprNqK96f26j5htY"></div><div class="flexblock-center"><input name="data.attributes.cha_lvl_mod1.value" value="{{data.attributes.cha_lvl_mod1.value}}" type="text" class="input-min input-disabled cha_lvl_mod1 inputGM" readonly="true" attid="E3o8FxntIbMZUlYs"></div><div class="flexblock-center"><input name="data.attributes.wis_lvl_mod1.value" value="{{data.attributes.wis_lvl_mod1.value}}" type="text" class="input-min input-disabled wis_lvl_mod1" readonly="true" attid="H8TGVxyo7fpl0oRZ"></div><div class="flexblock-center"><input name="data.attributes.con_lvl_mod1.value" value="{{data.attributes.con_lvl_mod1.value}}" type="text" class="input-min input-disabled con_lvl_mod1 inputGM" readonly="true" attid="dv0u56edG3IijXgL"></div><div class="flexblock-center"><input name="data.attributes.wis_lvl_mod2.value" value="{{data.attributes.wis_lvl_mod2.value}}" type="text" class="input-min input-disabled wis_lvl_mod2" readonly="true" attid="ERqwYHg6zdzCGcG0"></div><div class="flexblock-center"><input name="data.attributes.int_lvl_mod2.value" value="{{data.attributes.int_lvl_mod2.value}}" type="text" class="input-min input-disabled int_lvl_mod2 inputGM" readonly="true" attid="9H6tdZtx8tWg4xw3"></div><div class="flexblock-center"><input name="data.attributes.wis_lvl_mod3.value" value="{{data.attributes.wis_lvl_mod3.value}}" type="text" class="input-min input-disabled wis_lvl_mod3" readonly="true" attid="yDyQkGEnFOjopLb2"></div><div class="flexblock-center"><input name="data.attributes.cha_lvl_mod3.value" value="{{data.attributes.cha_lvl_mod3.value}}" type="text" class="input-min input-disabled cha_lvl_mod3 inputGM" readonly="true" attid="7wJ6jE7RHYFv6wXY"></div><div class="flexblock-center"><input name="data.attributes.wis_lvl_mod4.value" value="{{data.attributes.wis_lvl_mod4.value}}" type="text" class="input-min input-disabled wis_lvl_mod4" readonly="true" attid="gyqLZ30M27L3xueE"></div><div class="flexblock-center"><input name="data.attributes.wis_lvl_mod5.value" value="{{data.attributes.wis_lvl_mod5.value}}" type="text" class="input-min input-disabled wis_lvl_mod5" readonly="true" attid="9V4zfd8VlZ8HM5se"></div><div class="flexblock-center"><input name="data.attributes.int_lvl_mod3.value" value="{{data.attributes.int_lvl_mod3.value}}" type="text" class="input-min input-disabled int_lvl_mod3 inputGM" readonly="true" attid="m4Z3i2tYgv7boOIh"></div><div class="flexblock-center"><input name="data.attributes.dex_lvl_mod2.value" value="{{data.attributes.dex_lvl_mod2.value}}" type="text" class="input-min input-disabled dex_lvl_mod2 inputGM" readonly="true" attid="08C4u9dv0ENACoiN"></div><div class="flexblock-center"><input name="data.attributes.cha_lvl_mod4.value" value="{{data.attributes.cha_lvl_mod4.value}}" type="text" class="input-min input-disabled cha_lvl_mod4 inputGM" readonly="true" attid="s0Q1G0xeUpfE4ebr"></div><div class="flexblock-center"><input name="data.attributes.dex_lvl_mod3.value" value="{{data.attributes.dex_lvl_mod3.value}}" type="text" class="input-min input-disabled dex_lvl_mod3 inputGM" readonly="true" attid="41AeZp1EyrSnmavZ"></div></div></div><div class="multi-1-8"><div class="panelheader">MISC</div><div class="new-row"><div class="flexblock-center"><input name="data.attributes.acro_misc.value" value="{{data.attributes.acro_misc.value}}" type="text" class="input-min acro_misc" attid="StSeSioxfRsdlevy"></div><div class="flexblock-center"><input name="data.attributes.arcana_misc.value" value="{{data.attributes.arcana_misc.value}}" type="text" class="input-min arcana_misc" attid="iGKo8dn6BaVRA8MD"></div><div class="flexblock-center"><input name="data.attributes.athl_misc.value" value="{{data.attributes.athl_misc.value}}" type="text" class="input-min athl_misc" attid="JZnLZKB98k4zxFii"></div><div class="flexblock-center"><input name="data.attributes.bluff_misc.value" value="{{data.attributes.bluff_misc.value}}" type="text" class="input-min bluff_misc" attid="SUMKjVdLwfnqOLLG"></div><div class="flexblock-center"><input name="data.attributes.dipl_misc.value" value="{{data.attributes.dipl_misc.value}}" type="text" class="input-min dipl_misc" attid="rPdkI52Qz1ZXAehZ"></div><div class="flexblock-center"><input name="data.attributes.dung_misc.value" value="{{data.attributes.dung_misc.value}}" type="text" class="input-min dung_misc" attid="ZAEaRU6w6MyxRGTj"></div><div class="flexblock-center"><input name="data.attributes.end_misc.value" value="{{data.attributes.end_misc.value}}" type="text" class="input-min end_misc" attid="yQMTG5YElqC7zCPt"></div><div class="flexblock-center"><input name="data.attributes.heal_misc.value" value="{{data.attributes.heal_misc.value}}" type="text" class="input-min heal_misc" attid="8UboEU9MYMgwU44w"></div><div class="flexblock-center"><input name="data.attributes.hist_misc.value" value="{{data.attributes.hist_misc.value}}" type="text" class="input-min hist_misc" attid="WtMt6pzv4GdPQYtY"></div><div class="flexblock-center"><input name="data.attributes.ins_misc.value" value="{{data.attributes.ins_misc.value}}" type="text" class="input-min ins_misc" attid="MlamXdAZB3RyJW8I"></div><div class="flexblock-center"><input name="data.attributes.int_misc.value" value="{{data.attributes.int_misc.value}}" type="text" class="input-min int_misc" attid="Rk4EmwyoVUUb3SUo"></div><div class="flexblock-center"><input name="data.attributes.nat_misc.value" value="{{data.attributes.nat_misc.value}}" type="text" class="input-min nat_misc" attid="j8Bdegrs4R6oZMpR"></div><div class="flexblock-center"><input name="data.attributes.perc_misc.value" value="{{data.attributes.perc_misc.value}}" type="text" class="input-min perc_misc" attid="OETU7BZk5725JsAF"></div><div class="flexblock-center"><input name="data.attributes.rel_misc.value" value="{{data.attributes.rel_misc.value}}" type="text" class="input-min rel_misc" attid="3mhnBzAhtIACOeUf"></div><div class="flexblock-center"><input name="data.attributes.stel_misc.value" value="{{data.attributes.stel_misc.value}}" type="text" class="input-min stel_misc" attid="1nEEPbPkxqbHS5eD"></div><div class="flexblock-center"><input name="data.attributes.street_misc.value" value="{{data.attributes.street_misc.value}}" type="text" class="input-min street_misc" attid="mMPuji0i5i1yaav7"></div><div class="flexblock-center"><input name="data.attributes.thie_misc.value" value="{{data.attributes.thie_misc.value}}" type="text" class="input-min thie_misc" attid="Zg2K41sSwSAzYQkW"></div></div></div></div><div class="new-multiblock" id="skills_mpmultirow7"><div class="multi-5-8"><div class="panelheader">NOTES</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med notes_text" name="data.attributes.notes_text.value" attid="K0FiuoZO3gFo6uUj">{{data.attributes.notes_text.value}}</textarea></div></div></div></div></div></div></div></div><div class="tab scrollable basic_info_tab_tab" id="basic_info_tab_Def" data-group="primary" data-tab="basic_info_tab"><div class="new-column" id="basic_info_tabBody"><div class="new-block" id="basic_info_tabrow1"><div class="col-1-2"><div class="new-row"><div class="flexblock-left"><h3 class="centertext label-med" id="level" attid="X7o9dC2VuUcv8ITv">Level</h3><input name="data.attributes.level.value" value="{{data.attributes.level.value}}" type="text" class="input-med level" attid="X7o9dC2VuUcv8ITv"></div><div class="flexblock-left"><h3 class="centertext label-med" id="player_name" attid="kGBw0Ct2G9lGRBTw">Player Name</h3><input name="data.attributes.player_name.value" value="{{data.attributes.player_name.value}}" type="text" class="input-med player_name" attid="kGBw0Ct2G9lGRBTw"></div><div class="flexblock-left"><h3 class="centertext label-med" id="race" attid="CvgttTC7zppKsHuY">Race</h3><input name="data.attributes.race.value" value="{{data.attributes.race.value}}" type="text" class="input-med race" attid="CvgttTC7zppKsHuY"></div><div class="flexblock-left"><h3 class="centertext label-med" id="size" attid="UVYgiRk8eM85XxJF">Size</h3><input name="data.attributes.size.value" value="{{data.attributes.size.value}}" type="text" class="input-med size" attid="UVYgiRk8eM85XxJF"></div><div class="flexblock-left"><h3 class="centertext label-med" id="gender" attid="U6ad6vx91nNprwmF">Gender</h3><input name="data.attributes.gender.value" value="{{data.attributes.gender.value}}" type="text" class="input-med gender" attid="U6ad6vx91nNprwmF"></div><div class="flexblock-left"><h3 class="centertext label-med" id="alignment" attid="5sO3ZkhJOgJzFfkw">Alignment</h3><input name="data.attributes.alignment.value" value="{{data.attributes.alignment.value}}" type="text" class="input-med alignment" attid="5sO3ZkhJOgJzFfkw"></div></div></div><div class="col-1-2"><div class="new-row"><div class="flexblock-left"><h3 class="centertext label-med" id="total_xp" attid="PiHUUxcZNaKlYVJR">Total XP</h3><input name="data.attributes.total_xp.value" value="{{data.attributes.total_xp.value}}" type="text" class="input-med total_xp" attid="PiHUUxcZNaKlYVJR"></div><div class="flexblock-left"><h3 class="centertext label-med smalltext" id="character_name" attid="MTBKOANhhjUmkvZn">Character Name</h3><input name="data.attributes.character_name.value" value="{{data.attributes.character_name.value}}" type="text" class="input-med character_name" attid="MTBKOANhhjUmkvZn"></div><div class="flexblock-left"><h3 class="centertext label-med" id="class" attid="IZwykjti3MBUyogx">Class</h3><input name="data.attributes.class.value" value="{{data.attributes.class.value}}" type="text" class="input-med class" attid="IZwykjti3MBUyogx"></div><div class="flexblock-left"><h3 class="centertext label-med" id="age" attid="pspdmhPxl7kydGns">Age</h3><input name="data.attributes.age.value" value="{{data.attributes.age.value}}" type="text" class="input-med age" attid="pspdmhPxl7kydGns"></div><div class="flexblock-left"><h3 class="centertext label-med" id="deity" attid="pHXq7bS9RrBtGGax">Deity</h3><input name="data.attributes.deity.value" value="{{data.attributes.deity.value}}" type="text" class="input-med deity" attid="pHXq7bS9RrBtGGax"></div></div></div></div><div class="new-block" id="basic_info_tabrow2"><div class="col-1-1"><div class="panelheader">NOTES</div><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med basic_notes" name="data.attributes.basic_notes.value" attid="oy6NYIYL8NfVsMSR">{{data.attributes.basic_notes.value}}</textarea></div></div></div></div></div></div><div class="tab scrollable attacks_tab_tab" id="attacks_tab_Def" data-group="primary" data-tab="attacks_tab"><div class="new-column" id="attacks_tabBody"><div class="new-block" id="attacks_tabrow2"><div class="col-1-1"><div class="panelheader">ATTACK WORKSPACE</div><div class="table-row"><div class="flexblock-left"><table class="table-free pc_atk_table" name="data.attributes.pc_atk_table" value="{{data.attributes.pc_atk_table.value}}" attid="j1SOz57Sl0c7GGVy"><thead><tr><th class="label-small"></th><th class="label-free">Attack Name</th><th class="label-free">Attack Type</th><th class="input-min">ATK BONUS</th><th class="input-min">1/2LVL</th><th class="label-free">ABIL</th><th class="input-min">CLASS</th><th class="input-min">PROF</th><th class="input-min">FEAT</th><th class="input-min">ENH</th><th class="input-min">MISC</th><th class="label-free">VS</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="j1SOz57Sl0c7GGVy"></tbody></table></div></div></div></div><div class="new-block" id="attacks_tabrow3"><div class="col-1-1"><div class="panelheader">DAMAGE WORKSPACE</div><div class="table-row"><div class="flexblock-left"><table class="table-free pc_dmg_table" name="data.attributes.pc_dmg_table" value="{{data.attributes.pc_dmg_table.value}}" attid="p3Pt9SUnW1uNT80r"><thead><tr><th class="label-small"></th><th class="label-free">Damage Name</th><th class="label-free">DMG TYPE</th><th class="label-free">BASE</th><th class="label-free">ABIL</th><th class="input-min">FEAT</th><th class="input-min">ENH</th><th class="input-min">MISC</th><th class="cell-empty"></th></tr></thead><tbody class="table" id="p3Pt9SUnW1uNT80r"></tbody></table></div></div></div></div></div></div></section>
</form>