<form class="{{cssClass}}" autocomplete="off" id="sheet">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100">
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"></h1>
            <div class="flexblock-left ">
                <div class="col-1-2">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    <div class="flexblock-left">
                        <label class="label-free boldtext">MOD</label>
                        <input class="input-min" type="text" name="data.mod" value="{{data.mod}}">

                        {{#advShow}}
                        <a class="roll-mode boldtext" title="Roll mode"><i>{{data.rollmode}}</i></a>
                        {{/advShow}}

                        {{#showRoller}}
                        <a class="roll-free" title="Roll mode"><i class="fas fa-dice-d20"></i></a>
                        {{/showRoller}}

                        {{#if actor.data.selector}}
                        <a class="mod-selector" title="Select Options"><i class="fas fa-exclamation-circle fa-2x"></i></a>
                        {{/if}}
                    </div>
                    {{/if}}
                </div>

                <div class="rightblock">
                    {{#if actor.data.istemplate}}
                    {{else}}
                    {{#isGM}}
                    <select class="selectsheet" name="data.gtemplate" data-type="String">
                        <!--
{{#select actor.data.gtemplate}}
{{#each data.sheets as |gtemplate id|}}
<option  value="{{gtemplate}}">{{gtemplate}}</option>
{{/each}}
{{/select}}
-->
                    </select>
                    {{/isGM}}
                    {{/if}}
                    {{#isGM}}


                    <h3 class="rightblock-element">Template</h3>
                    <input class="check-istemplate" name="data.istemplate" id="check-istemplate" type="checkbox" {{checked actor.data.istemplate}}="">


                    {{/isGM}}

                    {{#if actor.data.istemplate}}
                    <h3 class="rightblock-element-tag">Rebuild Sheet</h3>
                    <a class="rightblock-element item-refresh" title="Rebuild Sheet"><i class="fas fa-sync"></i></a>
                    {{/if}}
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <div class="atabs">
        <a class="tab-prev" id="tab-prev">❮</a>
        <nav class="sheet-tabs tabs" data-group="primary" id="tabs" tabs="1">

            <a class="item tab-button" data-tab="description" id="tab-0">Bio</a>          
            <a class="item tab-button" id="tab-1" data-tab="powercard_tab">POWER CARD</a><a style="display: none" id="tab-last"></a>
            {{#isGM}}
            <a class="item tab-button" data-tab="citems" id="tab-citems">cItems</a>
            {{#if actor.data.istemplate}}
            <a class="item tab-button" data-tab="token" id="tab-token">Token</a>
            <a class="item tab-button" data-tab="config" id="tab-tabs">Tabs</a>
            {{/if}}
            {{/isGM}}

        </nav>
        <a class="tab-next" id="tab-next">❯</a>
    </div>

    {{!-- Sheet Body --}}
    <section class="sheet-body" id="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography active scrollable" data-group="primary" data-tab="description">
            {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>

        {{#if actor.data.istemplate}}
        {{!-- SheetTabs Tab --}}
        <div class="tab properties" data-group="primary" data-tab="config">
            <ol class="properties-list">
                {{#each data.tabs as |tab id|}}
                <li class="property flexrow" data-item-id="{{id}}">
                    <h4 class="property-name">{{tab.name}}</h4>
                    <div class="property-row">
                        <a class="property-controls item-top" title="Top Item"><i class="fas fa-arrow-alt-circle-up"></i></a>
                        <a class="property-controls item-bottom" title="Bottom Item"><i class="fas fa-arrow-alt-circle-down"></i></a>
                        <a class="property-control item-edit" title="Edit Tab"><i class="fas fa-edit"></i></a>
                        <a class="property-control item-delete" title="Delete Tab"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
        {{!-- Token Tab --}}
        <div class="tab token scrollable" data-group="primary" data-tab="token">
            <div class="flexblock">
                <div class="col-1-2">
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Bar 1</label>
                            <input class="token-bar1" type="text" name="data.tokenbar1" value="{{data.tokenbar1}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Shield Stat</label>
                            <input class="token-shieldstat" type="text" name="data.shieldstat" value="{{data.shieldstat}}" tkvalue="">
                        </div>
                    </div>
                    <div class="new-row">
                        <div class="flexblock-left">
                            <label class="label-medlarge">Display Name</label>
                            <select class="token-displayName" name="data.displayName" data-type="String" tkvalue="NONE">
                                {{#select actor.data.displayName}}
                                <option value="NONE">NONE</option>
                                <option value="CONTROL">CONTROL</option>
                                <option value="OWNER_HOVER">OWNER HOVER</option>
                                <option value="HOVER">HOVER</option>
                                <option value="OWNER">OWNER</option>
                                <option value="ALWAYS">ALWAYS</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {{/if}}

        {{!-- cItems Tab --}}
        <div class="tab citems scrollable" data-group="primary" data-tab="citems">
            <ol class="properties-list">
                {{#each data.citems as |citem cid|}}
                <li class="property flexrow" data-item-id="{{cid}}">
                    <h4 class="property-name">{{citem.name}}</h4>
                    <div class="property-row">
                        <a class="property-control citem-edit" title="Edit cItem"><i class="fas fa-edit"></i></a>
                        <a class="property-control citem-delete" citemid="{{citem.id}}" title="Delete cItem"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>



    <div class="tab scrollable powercard_tab_tab" id="powercard_tab_Def" data-group="primary" data-tab="powercard_tab"><div class="new-column" id="powercard_tabBody"><div class="new-block" id="powercard_tabrow0"><div class="col-1-1"><div class="new-row"><div class="flexblock-left"><h3 class=" label-free" id="keywords" attid="6hl1DNrC4g99sJhC">Keywords</h3><input name="data.attributes.keywords.value" value="{{data.attributes.keywords.value}}" type="text" class="input-free keywords" attid="6hl1DNrC4g99sJhC"><h3 class=" label-free" id="used_powercard" attid="mWZrMJj1lTLAW40O">USED</h3><input class="input-small used_powercard" name="data.attributes.used_powercard.value" type="checkbox" {{checked actor.data.attributes.used_powercard.value}} attid="mWZrMJj1lTLAW40O"></div></div></div></div><div class="new-block" id="powercard_tabrow1"><div id="powercard_main_mpmulti" class="multi-1-1-col"><div class="new-block" id="powercard_main_mpmultirow1"><div class="multi-1-6"><div class="panelheader">ACTION</div><div class="new-row"><div class="flexblock-center"><select class="input-med powercard_action_content" name="data.attributes.powercard_action_content.value" attid="Gu99rkjPKin33JbD">{{#select data.attributes.powercard_action_content.value}}<option value="Standard">Standard</option><option value="Move">Move</option><option value="Minor">Minor</option><option value="Immediate">Immediate</option><option value="Opportunity">Opportunity</option><option value="Free">Free</option>{{/select}}</select></div></div></div><div class="multi-1-6"><div class="panelheader">TYPE</div><div class="new-row"><div class="flexblock-center"><select class="input-med powercard_type_content" name="data.attributes.powercard_type_content.value" attid="VRC3OHCwiR6jZM0Y">{{#select data.attributes.powercard_type_content.value}}<option value="Melee">Melee</option><option value="Ranged">Ranged</option><option value="Burst">Burst</option><option value="Blast">Blast</option>{{/select}}</select></div></div></div><div class="multi-2-3"><div class="panelheader">RANGE</div><div class="new-row"><div class="flexblock-left"><input name="data.attributes.powercard_range_content.value" value="{{data.attributes.powercard_range_content.value}}" type="text" class="input-free powercard_range_content" attid="iDhsgHXFg34mEE6m"></div></div></div></div><div class="new-multiblock" id="powercard_main_mpmultirow2"><div class="multi-1-6"><div class="panelheader">ATTACK</div><div class="new-row"><div class="flexblock-center"><input name="data.attributes.powercard_attack_content.value" value="{{data.attributes.powercard_attack_content.value}}" type="text" class="input-free powercard_attack_content" attid="LXQdXQbGdCRO5kmn"></div></div></div><div class="multi-1-6"><div class="panelheader">VS</div></div><div class="multi-1-6"><div class="panelheader">DEFENSE</div><div class="new-row"><div class="flexblock-center"><select class="input-med powercard_defense_content" name="data.attributes.powercard_defense_content.value" attid="3pC7QFjnT0A58X6t">{{#select data.attributes.powercard_defense_content.value}}<option value="AC">AC</option><option value="FORT">FORT</option><option value="REF">REF</option><option value="WILL">WILL</option>{{/select}}</select></div></div></div><div class="multi-1-2"><div class="panelheader">TARGET</div><div class="new-row"><div class="flexblock-left"><input name="data.attributes.powercard_target_content.value" value="{{data.attributes.powercard_target_content.value}}" type="text" class="input-free powercard_target_content" attid="DIaSfALtyoWVLLNY"></div></div></div></div><div class="new-multiblock" id="powercard_main_mpmultirow3"><div class="multi-1-1"><div class="panelheader">RECHARGE</div><div class="new-row"><div class="flexblock-center"><h3 class="centertext label-free" id="powercard_atwill" attid="vwz40MpJJki1eVuA">AT-WILL</h3><input class="input-small powercard_atwill" name="data.attributes.powercard_atwill.value" type="checkbox" {{checked actor.data.attributes.powercard_atwill.value}} attid="vwz40MpJJki1eVuA"><h3 class="centertext label-free" id="powercard_encounter_panel" attid="atEBvtn4ATU4wUD1">ENCOUNTER</h3><input class="input-small powercard_encounter_panel" name="data.attributes.powercard_encounter_panel.value" type="checkbox" {{checked actor.data.attributes.powercard_encounter_panel.value}} attid="atEBvtn4ATU4wUD1"><h3 class="centertext label-free" id="powercard_daily" attid="dxLa7lXr4TOLWbLs">DAILY</h3><input class="input-small powercard_daily" name="data.attributes.powercard_daily.value" type="checkbox" {{checked actor.data.attributes.powercard_daily.value}} attid="dxLa7lXr4TOLWbLs"></div></div></div></div><div class="new-multiblock" id="powercard_main_mpmultirow4"><div class="multi-1-1"><div class="new-row"><div class="flexblock-left"><textarea class="texteditor-med powercard_text_content" name="data.attributes.powercard_text_content.value" attid="m9Kc09sMw43fZXDx">{{data.attributes.powercard_text_content.value}}</textarea></div></div></div></div><div class="new-multiblock" id="powercard_main_mpmultirow5"><div class="multi-1-2"><div class="panelheader">ATTACK ROLL</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-free rollable" id="atk_roll_field_powercard" attid="KypYa3F7eq4PZPgG"><div title=""><i class="fas fa-dice-d20"></i></div></h3><input name="data.attributes.atk_roll_field_powercard.value" value="{{data.attributes.atk_roll_field_powercard.value}}" type="text" class="input-free atk_roll_field_powercard" attid="KypYa3F7eq4PZPgG"></div></div></div><div class="multi-1-2"><div class="panelheader">DMG ROLL</div><div class="new-row"><div class="flexblock-left"><h3 class=" label-free rollable" id="powercard_dmg_roll_filed" attid="vEDgilsIDlVop7Rn"><div title=""><i class="fas fa-dice-d20"></i></div></h3><input name="data.attributes.powercard_dmg_roll_filed.value" value="{{data.attributes.powercard_dmg_roll_filed.value}}" type="text" class="input-free powercard_dmg_roll_filed" attid="vEDgilsIDlVop7Rn"></div></div></div></div></div></div></div></div></section>
</form>